/screenshots/ export-ignore
/icon/ export-ignore
/.gitignore export-ignore
/.gitattributes export-ignore
*.zip export-ignore
*.7z export-ignore
*.rar export-ignore
*.log export-ignore
*.tmp export-ignore
